{% extends "base.html" %}

{% block content %}
    <div style="padding: 20px; background-color: #f2f2f2; border-radius: 10px;">
        {% if msg %}
            {{ msg }}
        {% else %}
            <form method="POST" action="/generate_book">
                <label for="book_description" style="color: lightgrey;">Describe a book you want!</label>
                <input type="text" id="book_description" name="book_description" placeholder="The ancient book of eggnog." >
                <button type="submit" style="padding: 10px 20px; background-color: #4CAF50; color: white; border: none; border-radius: 5px; font-size: 16px; cursor: pointer;">Generate Book</button>
            </form>
        {% endif %}
    </div>
    <button style="position: absolute; top: 20px; right: 20px; padding: 10px 20px; background-color: #4CAF50; color: white; border: none; border-radius: 5px; font-size: 16px; cursor: pointer;">Login</button>
{% endblock %}
